# ignore dot files/directories
.*
!.gitignore

*.autosave
*.pyc
*.user
*~
Thumbs.db
tags
tegra/
bin/
*.sdf
*.opensdf
*.obj
*.stamp
*.depend
*.rule
*.tmp
*/debug
*.suo
*.log
*.tlog
build
android_build/
!android_build/build.sh
!anaroid_build/out/
